<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tbx.user.SecuraEx">


    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoooo"
        android:label="@string/app_name"
        android:name="com.tbx.user.SecuraEx.Bean"
        android:roundIcon="@drawable/logoooo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tbx.user.SecuraEx.MainActivity">

        </activity>
        <activity android:name="com.tbx.user.SecuraEx.Splash">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>
        <activity android:name="com.tbx.user.SecuraEx.Home">






        </activity>

        <receiver
            android:name="com.tbx.user.SecuraEx.receive"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.tbx.user.SecuraEx.NotifyService"
            android:enabled="true"
            android:exported="true" />


    </application>

</manifest>